body {
  margin: 0;
  font-family: "Roboto", "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg__img {
  background-image: url(./assets/images/02.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: white;
}
.backdrop__img {
  backdrop-filter: blur(15px);
  background-color: black;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
